@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/* navigation style */
.logoimagemav {
    width: 70px;
    height: 70px;
    align-items: center;
    display: flex;
}

.navbarfullwidth {
    position: fixed;
    top: 0px;
    min-width: 100% !important;
    background-color: transparent;
    color: white;
    padding: 0px;
}

.navbarfullresponsive {
    position: fixed;
    top: 0%;
    background-color: #140960;
    min-width: 100% !important;
    padding: 0px;
}
.nav-link{
    color:black !important;
}
.navbar-brand{
    padding:0px;
}
.navbar {
    padding: 0px;
    margin: 0px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
/* header style  */


.maindivheorseftion {
    height: 95vh;
    display: grid;
    place-content: center;
    width: min(1000px, 90%);
    margin: auto;
}
.thisiaLogoimage{
    width:min(97%,1200px);
    height:auto;
}

.changingtextherosection {
    color: #FDA400;
}

.thishamburger {
    display: none;
}

@media screen and (max-width:777px) {
    .thishamburger {
        display: block;
        color: white;
        font-size: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .navul {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }
}

/* Servisec style */

.main-Serviess {
    background-color: white;
}