@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/* navigation style */

.nav {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 80%;
    margin: auto;
    height: 5vh;
}

.logoimagemav {
    width: auto;
    height: 5vh;
    align-items: center;
    display: flex;
}

.navul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin: 0%;
}

.navul li {
    padding: 0.5rem 0.85rem;
    letter-spacing: 3.5px;
}

/* header style  */
.maindivheorseftion {
    height: 95vh;
    display: grid;
    place-content: center;
    width: min(1000px, 90%);
    margin: auto;
}

.headingherosection {
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 55px;
    font-weight: bold;
    width: min(80%, 720px);

}

.changingtextherosection {
    color: #FDA400;
}

.three-divheorsection {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
}

.three-divheorsection div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.three-divheorsection h6 {
    color: white;
    text-align: center;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    margin: 0%;
}

/* Servisec style */

.main-Serviess {
    background-color: white;
}